* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.36);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 150px;
}

.dark-mode header {
    border-bottom: 2px solid aqua;
}

.title {
    font-size: 33px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dark-mode .title {
    color: rgb(194, 122, 194);
    text-shadow: 0 0 23px rgb(216, 93, 113);
}

.inp2 {
    width: 500px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    background: none;
    margin-top: 100px;
    outline: none;
    margin: 100px auto;
    display: flex;
}

.btn {
    width: 170px;
    height: 40px;
    border: 1px solid grey;
    background: none;
    border-radius: 20px;
}

.dark-mode .btn {
    color: white;
    border: 1px solid aqua;
    color: aqua;
}

.dark-mode .btn:hover {
    transition: .3s ease;
    box-shadow: 0 0 30px 12px rgba(0, 255, 255, 0.272);

}

.dark-mode .inp2 {
    color: rgb(239, 135, 239);
    border: 2px solid aqua;
    text-shadow: 0 0 3px rgb(236, 134, 151);
    transition: .3s ease;
}

.dark-mode .inp2:hover {
    box-shadow: 0 0 30px 12px rgba(0, 255, 255, 0.272);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dark-mode {
    background: #333;
    color: white;
}

.flag_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;

}

.dark-mode .country-card {
    border: 2px solid aqua;
    transition: .3s ease-inw;
}

.dark-mode .country-card:hover {
    box-shadow: 0 0 30px 12px rgba(0, 255, 255, 0.272);
}

.country-card {
    width: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 14px;
}

.country-card img {
    width: 100%;
    height: auto;
}

.title_h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode .title_h2 {
    color: aqua;
}

.btns_div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.dark-mode h1 {
    color: aqua;
}

/* h1{
    text-align: center;
    margin-top: 40px;
} */

#country-details h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#country-details img {
    display: flex;
    margin: 0 auto;
}
#country-details p {
    text-align: center;
    margin-top: 10px;
}

.dark-mode #country-details .akua{
    color: aqua;
}

#country-details {
    margin: 40px auto;
    border-radius: 10px;
    width: 450px;
    height: 600px;
    border: 2px solid black;

}

.dark-mode #country-details {
    border: 2px solid aqua;

} 